.main {
  min-height: 100vh;
  background: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.loaderContainer {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
}

.loader {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--accent);
  animation: spin 1s linear infinite;
}

.message {
  color: #f87171;
  /* red-400 */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}